html {
  font-family: 'SF Pro Text', 'Myriad Set Pro', 'SF Pro Icons', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 100;
}
a {
  /*#bdb380;*/
  /*#66bbff*/
  color: #0070c9;
  text-decoration: none;
}
.nav-container {
  height: 40px;
  background-color: #333333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-container
.logo:hover
.tc-logo {
  fill: #999999;
}
.nav-link {
  color: #ffffff;
}
.nav-selected {
  color: #999999;
}
.paper {
  height: 80vh;
  max-width: 100%;
  background-color: #fafafa;
  padding-bottom: 5px;
}
.home-content {
  max-width: 560px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
.home-container {
  padding: 40px;
  text-align: center;
}
.header {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.header h1 {
  font-weight: 300;
  font-size: 1.5em;
  /*color:*/
  letter-spacing: 5px;
  z-index: 1;
  margin: 0;
}
.header small {
  letter-spacing: 2px;
  margin: 0 0 0.5em;
  font-size: 90%;
  color: #888888;
}

  /*----------------------------------
          hamburger menu
  ------------------------------------*/
  .menu-wrapper .icon-wrap {
      display: flex;
      cursor: pointer;
      justify-content: flex-end;
  }

  .menu-wrapper path {
      stroke: #ffffff;
      stroke-width: 40;
      stroke-linecap: round;
  }

  .menu-wrapper path.x {
    stroke-miterlimit: 10;
      stroke-dashoffset: -1490;
      stroke-dasharray: 840 2000;
  }

  .menu-wrapper path.yy {
      stroke-dashoffset: 1700;
      stroke-dasharray: 2520 3000;
      transition: 0.3s 0.2s ease-in-out;
  }

  .menu-wrapper .toClose path.yy {
    stroke-dashoffset: -1200;
    transition: 0.5s 0s ease-in-out;
  }

  .menu-wrapper path.x2 {
    transform-origin: right center;
    transition: 0.5s 0s ease-in-out;
    transform: rotate(0deg) translateX(0px);
  }

  .menu-wrapper .toClose path.x2:first-of-type {
    transform: rotate(-45deg) translate(-80px, -80px);
  }

  .menu-wrapper .toClose path.x2 {
    transition: 0.3s 0.2s ease-in-out;
    transform: rotate(45deg) translate(-80px, 80px);
  }

  .menu-wrapper circle {
    fill: transparent;
    transition: 0.5s ease-in-out;
  }

  .menu-wrapper .toClose circle {
    fill: #333333;
    transition: 1s ease-in-out;
  }

  .menu-wrapper .toClose svg path.x {
    animation: toCloseX 0.4s ease-in-out forwards;
  }

  .menu-wrapper .toOpen svg path.x {
    animation: toOpenX 0.4s ease-in-out forwards;
  }
  @keyframes toCloseX {
      0% {
          stroke-dashoffset: -1490;
      }

      100% {
          stroke-dashoffset: 0;
      }
  }
  @keyframes toOpenX {
      0% {
          stroke-dashoffset: 0;
      }

      100% {
          stroke-dashoffset: -1490;
      }
  }
  @media (min-width: 600px) {
      .menu-wrapper {
          /*display: none;*/
      }
  }
  .menu-wrapper .menu-nav-hide {
    display: none;
  }

  .menu-wrapper .menu-nav {
      list-style: none;
      text-align: center;
      margin: 0;
      padding: 0;
      z-index: 30;
      overflow: hidden;
      position: absolute;
      transition: 0.5s 0s ease-in-out;
  }

  .menu-wrapper .menu-nav li {
    width: 7em;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5em;
    font-size: 1em;
    overflow: hidden;
    background: #4F4F4F;
    border-left: 1px solid #ffffff;
  }

  .menu-home {
      border-top: 1px solid #ffffff;
  }

  .menu-wrapper .menu-nav li:nth-last-child(1) {
      border-bottom: 1px solid #ffffff;
  }

  .menu-wrapper:hover {
    cursor: pointer;
  }

  .menu-wrapper .menu-nav li:hover {
    color: #ffffff;
    overflow: hidden;
    background: #66bbff;
  }
.footer-social a {
  color: #fff;
}

.footer-social svg {
  fill: #fafafa;
}

.footer-social svg:hover {
  fill: #999999;
}
